AI_CORE_OWNER_CANARY_ENABLED=false
AI_CORE_PUBLIC_ENABLED=false
AI_CORE_PUBLIC_URL=https://gateway.example.ts.net
AI_CORE_PUBLIC_SECRET=<SECRET_MINIMUM_32_BYTES>
AI_CORE_PUBLIC_RUNTIME_SHA=5713258de76d4aa689baf30eae016df54cd8d579
AI_CORE_PUBLIC_CONTRACT_SHA=8834367e7412656b5a83d0c01b05dbffae6d3dee
AI_CORE_PUBLIC_SITE_SHA=<EXACT_SITE_TARGET_SHA_FROM_RELEASE_MANIFEST>
AI_CORE_PUBLIC_GATEWAY_SHA=e0b4edd34d5fecaf8850e64aa03a33c2661b51f9
AI_CORE_IDENTITY_HMAC_KEY=<SECRET_MINIMUM_32_BYTES>
